{% extends "base.html" %}
{% load static %}

{% block item_list %}
  <h2> Shopping Cart</h2>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th> Unit price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% wth p= item.product %}
          <tr>
            <td><img src="{{p.image.url}}"></td>
            <td><a href="{{ get_absolute_url }}">{{p.name}}</a></td>
            <td> {{item.quality}} </td>
            <td><a href="{% url 'cart: remove_cart' p.id %}">Delete Item</a></td>
          </tr>
        {% endwith %} 
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="buttonlight">Continue shopping</a>
    <a href="#" class="button">Checkout</a>
  </p>
{% endblock %}
  


{% endblock  %}