{% extends "base.html" %}

<div class='container'>
  <div class = "row">
    <div class="col-md-8">
      {% block item-list %}
        {% if cat  %}
          <ul>
            {% for c in cat  %}
              <li>
                <a href="{{p.get_absolute_url}}"> {{ c.name }}</a>
            
              </li>
          
            {% endfor %}
         </ul>
        
        {% else %}
          <p> There's no product listed</p>
        {% endif %}
      {% endblock  %}
    </div>
    
    <div class='col-md-3'>
      {% block categories-list %}
        <ul>
          {% for cat in category_list  %}
            <li>
              <a href="{{cat.get_absolute_url}}">{{cat.module}}</a>
            
            </li>
          {% endfor %}
        </ul>
      
      {% endblock  %}
    </div>    
    <div>
      {% block footer %}
        {% include "pagination.html" with page=item %}
      {% endblock  %}
    </div>
</div>